<h3>{{site.data[site.defaultLang].my_blog}}</h3>
{{site.data[site.defaultLang].blog_interested}}
<ul class="article-list">
    {% for post in site.posts limit:5 %}
    <li>

        <div class="article-lists">
            <a class="article-link-footer leader no-border" href="{{post.url}}">
                {{post.title}}
            </a>
        </div>
        <div class="article-meta">
            {% include date.html %} |
            {{site.data[site.defaultLang].reading_time}}: {% include read_time_post.html %} |
            {{site.data[site.defaultLang].nr_of_words}}: {% include nr_words_post.html %}
        </div>
    </li>
    {% endfor %}
    <li class="view-more">
        <a href="/blog/"><small>{{site.data[site.defaultLang].more_blogs}} (#{% include number-posts.html %})</small></a>
    </li>
</ul>