{%- if post.date %}
{% assign datum = post.date %}
{%- elsif page.date %}
{% assign datum = page.date %}
{%- else %}
{% assign datum = site.time %}
{%- endif %}

{% capture i18n_date %}
{% assign wdnr = datum | date: "%w" | times: 1 %}
{% assign wd = site.data[site.defaultLang].date.abbr_daynames[wdnr] %}
{% assign dag = datum | date: "%-d" %}
{% assign maandnr = datum | date: "%m" | minus: 1  %}
{% assign maand = site.data[site.defaultLang].date.monthnames[maandnr] %}
{% assign jaar = datum | date: "%Y" %}
{% endcapture %}

<time datetime="{{ datum | date: '%F %R' }}">{{wd}} {{dag}} {{maand}} {{jaar}}</time>