<footer class="ampstart-footer flex flex-column items-center px3 ">
    <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
        {% for s in site.social %}
        {%- assign curkey = s[0] -%}
        {%- assign element = site.data.SocialNetworks[curkey] -%}
        <li>
            <a href="{{element.baseURL}}{{ site.social[curkey] }}" target="_blank" class="inline-block p1"
               title="{{ element.name }}">{{ element.code }}</a>
        </li>
        {% endfor %}
    </ul>
    <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
            {% for m in site.menu %}
            <li class="px1"><a class="text-decoration-none ampstart-label" href="{{m.url}}">{{m.name}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <amp-img class="footer-img"
             src="{{site.logo}}"
             height="{{site.logo_height}}"
             width="{{site.logo_width}}"
             alt="{{site.title}}"></amp-img>
    <div>
        © {{site.title}}, {{site.domain_year}} - {{ site.time | date: '%Y' }}
    </div>
</footer>