<header class="ampstart-headerbar fixed justify-start items-center top-0 pl2 pl2">
    <!--flex left-0 right-0-->

    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0"
         class="ampstart-navbar-trigger pr2 nav-open">
        <!--☰-->
        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"></path></svg>
    </div>
    <div id="nav-top-title">
        <a href="/" class="header_link">
        {%- if site.logo_code %}
            {{site.logo_code}}
        {%- else %}
            <span id="site_title">{{site.title}}</span>
        {% endif %}
        </a>
    </div>
    <div id="nav-social-icons" class="ampstart-nav">
        <ul class="ampstart-social-follow top-social-follow">
            {% for s in site.social %}
            {%- assign curkey = s[0] -%}
            {%- assign element = site.data.SocialNetworks[curkey] -%}
            <li>
                <a href="{{element.baseURL}}{{ site.social[curkey] }}" target="_blank" class="inline-block p1"
                   title="{{ element.name }}">
                    {{ element.code }}
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar" layout="nodisplay">
    <div class="justify-start items-center ampstart-sidebar-header pl2 pr2" style="width: 100%">
        <div class="nav-bar-title">{{site.title}}</div>
        <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0"
             class="ampstart-navbar-trigger items-start nav-close">
            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>
        </div>
    </div>
    <nav class="ampstart-sidebar-nav ampstart-nav px3 pt2">
        <ul class="ampstart-sidebar-faq list-reset m0">
            {% for m in site.menu %}
            <li class="ampstart-faq-item"><a href="{{m.url}}" class="text-decoration-none">{{m.name}}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
        <li class="share-social-icons">
            {{site.data[site.defaultLang].share}}:
        </li>
        <li>
            <amp-social-share type="linkedin" width="25px" height="19px"
                              data-param-text="{{page.title}}"
                              data-param-url="{{page.url}}">
                {{ site.data.SocialNetworks['linkedin'].code }}
            </amp-social-share>
        </li>
        <li>
            <amp-social-share type="twitter" width="25px" height="19px"
                              data-param-text="{{page.title}}"
                              data-param-url="{{page.url}}">
                {{ site.data.SocialNetworks['twitter'].code }}
            </amp-social-share>
        </li>
        <li>
            <amp-social-share type="email" width="25px" height="19px">
                {{ site.data.SocialNetworks['email'].code }}
            </amp-social-share>
        </li>
    </ul>

    <div id="about-me-sidebar">
        <div id="about-name" class="pr2 pl2">{{site.title}}</div>
        <amp-img alt="{{site.title}}"
                 src="{{site.logo}}"
                 width="50"
                 height="50"
                 layout="responsive"
                 class="about-image">
        </amp-img>
        {{site.bio}}
<!--        <div id="right-about-me" class="pr2 mt2">-->
<!--            <div id="about-descr">{{site.bio}}</div>-->
<!--        </div>-->
    </div>


</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->