<div class="review-box" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="author" content="{{site.author}}">
    <meta itemprop="datePublished" content="{{page.date | date: '%Y-%m-%d'}}">

    <hr style="border:3px solid #f1f1f1">

    <h3 class="review-box-title">Mijn beoordeling</h3>

    {% assign r_nr = page.vw_review_average_score | first | divided_by: 2 | round %}

    <div class="review-box-dial">
        {%- for i in (1..5) %}
            {%- if i <= r_nr %}
                <span class="fa fa-star checked"></span>
            {%- else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {%- endfor %}
    </div>

    <hr style="border:3px solid #f1f1f1">

    <p class="review-box-summary" itemprop="description">{{page.vw_review_summary}}</p>

    <hr style="border:3px solid #f1f1f1">

    <div class="chart-bars">
        {%- for i in (1..10) %}
            {% assign reviewScore = 'vw_review_score_%1_score' | replace:'%1',i %}
            {% assign reviewLabel = 'vw_review_score_%1_label' | replace:'%1',i %}
            {%- if page[reviewScore] %}
                {% assign score = page[reviewScore] | first | times: 10 | round %}
            <div class="chart-bar">
                <!--<div class="chart-bar-value header-font">{{ page[reviewScore] | first }}</div>-->
                <div class="chart-bar-title header-font">{{ page[reviewLabel] | first }}</div>
                <div class="chart-bar-bg"><div class="chart-bar-percent" style="width: {{ score }}%;">{{ page[reviewScore] | first }}/10</div></div>
            </div>
            {%- endif %}
        {%- endfor %}
    </div>
    <div class="hidden" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
        <meta itemprop="worstRating" content="0">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="ratingValue" content="{{ page.vw_review_average_score  }}">
    </div>
</div>