<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "{{ site.person.email }}",
      "image": [ "{{ site.person.images | join: '", "' }}" ],
      "jobTitle": "{{ site.person.jobTitle }}",
      "name": "{{ site.person.name }}",
      "givenName": "{{ site.person.givenName }}",
      "familyName": "{{ site.person.familyName }}",
      "alternateName": "{{ site.person.alternateName }}",
      "birthPlace": "{{ site.person.birthPlace }}",
      "birthDate": "{{ site.person.birthDate }}",
      "height" : "{{ site.person.height }}",
      "gender": "{{ site.person.gender }}",
      "nationality": "{{ site.person.nationality }}",
      "telephone": "{{ site.person.telephone }}",
      "url": "{{ site.person.url }}",
      "description": "{{ site.person.description }}",
      "owns":{
	      "@type": "Organization",
	      "address": {
    	    "@type": "PostalAddress",
        	"addressLocality": "{{ site.person.owns.addressLocality }}",
	        "addressRegion": "{{ site.person.owns.addressRegion }}",
    	    "postalCode": "{{ site.person.owns.postalCode }}",
        	"streetAddress": "{{ site.person.owns.streetAddress }}"
      		},
      		"email": "{{ site.person.owns.email }}",
      		"name": "{{ site.person.owns.name }}",
  			"telephone": "{{ site.person.owns.telephone }}"
      },
      "sameAs" : [ "{{ site.person.sameAs | join: '", "' }}" ]
    }
</script>