<footer class="post-footer clearfix flex-column">
    <div class="post-details sm-col sm-col-6 md-col-10 lg-col-10 ">
            {{site.data[site.defaultLang].published}} :
            {%- include date.html %} |
            {{site.data[site.defaultLang].reading_time}}: {% include read_time.html %} |
            {{site.data[site.defaultLang].nr_of_words}}: {% include nr_words.html %}
            <br/>
            {{site.data[site.defaultLang].categories}}:
                {% assign sortedCategories = page.categories | sort %}
                {% for category in sortedCategories %}
                <a href="{{ site.baseurl }}/category#{{ category | slugify }}/">{{ category }}</a>
                {% endfor %}
                |  {{site.data[site.defaultLang].tags}}:
                {% assign sortedTags = page.tags | sort %}
                {% for tag in sortedTags %}
                <a href="{{ site.baseurl }}/tags#{{ tag | slugify }}/">{{ tag }}</a>
                {% endfor %}
    </div>
    <div class="post-details sm-col sm-col-6 md-col2 lg-col-2">
            {{site.data[site.defaultLang].share_on}}:
            <br/>
            <amp-social-share type="linkedin" width="25px" height="19px"
                              data-param-text="{{page.title}}"
                              data-param-url="{{page.url}}">
                <amp-img
                {{ site.data.SocialNetworks['linkedin'].code }}
            </amp-social-share>
            <amp-social-share type="twitter" width="25px" height="19px"
                              data-param-text="{{page.title}}"
                              data-param-url="{{page.url}}">
                {{ site.data.SocialNetworks['twitter'].code }}
            </amp-social-share>
            <amp-social-share type="email" width="25px" height="19px">
                {{ site.data.SocialNetworks['email'].code }}
            </amp-social-share>
    </div>
</footer>