---
layout: post
excerpt_separator: < !--more -->
title: 'Easy Joomla! Site Verification'
slug: 'easy-joomla-site-verification'
date: '2009-10-28 07:00'
publish_date: '2009-10-28 07:00'
category: ['Coding']
tags: ['Coding']
---
This plugin will allow you to easily verify your Joomla! website with Google
Webmaster Tools, Bing Webmaster Tools and Yahoo! SiteExplorer.  
  
Now you can easily verify your website for Google, Bing and Yahoo!.  
  
No need to change your template or use multiple plugins.  
  
  
  
This one does all !  
  
See the source code (right mouse click -> source) our demo site
<http://demos.gebruikmaar.nl/joomla/> to see what it puts into the source
code.  
  
Look for the verify lines in the meta data, then change the template to
another and you will see that the code stays intact.  
  
You know what the best part is of this plugin ? It s comes real cheap !  
  
[You can download it here.](http://www.iamboredsoiblog.eu/download-
page/joomla-extensions/easy-site-verification/)

