---
author: tvdsluijs
category:
- Coding
comments: 'true'
date: 2010-02-04 12:52
excerpt_separator: <!--more-->
image: https://vandersluijs.resultants-e.nl/0*9bLdrVhEkGwVdkIE.gif
layout: post
publish_date: 2010-02-04 12:52
slug: easy-site-verification
tags:
- Coding
title: Easy Site Verification

---
This plugin will allow you to easily verify your Joomla! website with Google
Webmaster Tools, Bing Webmaster Tools and Yahoo! SiteExplorer.  
  
Now you can easily verify your website for Google, Bing and Yahoo!.  
  
No need to change your template or use multiple plugins.  
  
This one does all !  
  
See the source code (right mouse click -> source) our demo site
<http://demos.gebruikmaar.nl/joomla/> to see what it puts into the source
code.  
  
Look for the verify lines in the meta data, then change the template to
another and you will see that the code stays intact.  
  
 ** _Joomla! 1.5 , 1.6, 1.7 and 2.5 ready!_**  
  
Well… you can find the sources on
[Github](https://github.com/tvdsluijs/Joomla-Easy-Site-Verification/tree/)  
  
Like my code ? Don’t forget to

![](https://vandersluijs.resultants-e.nl/0*9bLdrVhEkGwVdkIE.gif)

