---
layout:    home
title:     Blog
sub_title: "To boldy go where no blog has gone before"
blogfeed:  true
---
<header class="blog-header">
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
</header>

<div class="cf frame">
    {% for post in paginator.posts %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
            <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <div class="post-details">
                {% include date.html %} |
                {{site.data[site.defaultLang].reading_time}}: {% include read_time_post.html %} |
                {{site.data[site.defaultLang].nr_of_words}}: {% include nr_words_post.html %}
            </div>
            <section class="post-excerpt" itemprop="description">
                <p>{{ post.excerpt | strip_html | truncatewords: 50 }} <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{site.data[site.defaultLang].more}}</a></p>
            </section>
        </div>
    </article>
    {% endfor %}
</div>

<nav class="pagination" role="navigation">
    {% if paginator.next_page %}
        <a class="newer-posts" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}"><span class="fal fa-arrow-left"></span> {{site.data[site.defaultLang].older_posts}}</a>
    {% else %}
        <a class="newer-posts disabled"><span class="fal fa-arrow-left"></span> {{site.data[site.defaultLang].older_posts}}</a>
    {% endif %}
        <span class="page-number">{{site.data[site.defaultLang].page}} {{ paginator.page }} {{site.data[site.defaultLang].of}} {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
            <a class="older-posts" href="{{ site.baseurl }}/blog/">{{site.data[site.defaultLang].newer_posts}} <span class="fal fa-arrow-right"></span> </a>
        {% else %}
            <a class="older-posts" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">{{site.data[site.defaultLang].newer_posts}} <span class="fal fa-arrow-right"></span></a>
        {% endif %}
    {% else %}
        <a class="older-posts disabled">{{site.data[site.defaultLang].newer_posts}} <span class="fal fa-arrow-right"></span></a>
    {% endif %}
</nav>