---
layout: default
---
<main id="content" role="main">
    {% capture image_alt %}
    {{page.title}}
    {% endcapture %}

    {%- if page.video_post_url %}
    {%- capture youtube_id %}
    {{page.video_post_url}}
    {%- endcapture %}
    {% include show_youtube.html youtube=youtube_id %}
    {%- elsif page.vw_post_format_video_oembed %}
    {%- capture youtube_id %}
    {{page.vw_post_format_video_oembed}}
    {%- endcapture %}
    {% include show_youtube.html youtube=youtube_id %}
    {%- elsif page.image and page.image.path %}
    {% include post-image.html src=page.image.path alt=page.title width="720" height="378" %}
    {%- elsif page.feature-img %}
    {% include post-image.html src=page.feature-img alt=page.title width="720" height="378" %}
    {%- elsif page.img %}
    {%- capture top_image %}
    {{page.img}}
    {%- endcapture %}
    {% include post-image.html src=top_image alt=page.title width="720" height="378" %}
    {%- elsif page.feature-img %}
    {%- capture top_image %}
    {{page.feature-img}}
    {%- endcapture %}
    {% include post-image.html src=top_image alt=page.title width="720" height="378" %}
    {%- endif %}

    {{ content }}

    {% include sharepost.html %}
</main>
{% include post_footer.html %}